body, html {
    height: 100%;
    margin: 0;
    font-size:16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color:#666;
}

.pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.pimg1{
    background-image:url("../images/greengold.jpeg");
    min-height: 100%;
}

.pimg2{
    background-image:url("../images/aurora.jpeg");
    min-height: 400px;
}

.pimg3{
    background-image:url("../images/cyberspace.jpeg");
    min-height: 400px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: lightgray;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}


.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: gold;
    font-size: 28px;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.ptext .label {
    background-color: #111;
    color: gold;
    padding: 20px;
    border-color: #111;
}

a:link {
    color: gold;
}

/* visited link */
a:visited {
    color: rgb(0, 141, 0);
}

/* mouse over link */
a:hover {
    color: goldenrod;
}

/* selected link */
a:active {
    color: blue;
}

.navcolor {
    background-color: #111;
    opacity: 0.70;
}

.navbar-brand {
    color: rgb(255, 215, 0);
}

.custom-toggler.navbar-toggler {
    border-color: gold;
}


.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 215, 0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.link-light {
    color: goldenrod;
}


@media(max-width:568px) {
    .pimg1 .pimg2 .pimg3 {
        background-attachment: scroll;
    }
    .ptext {
        font-size: 18px;
    }
}
